.post-form{
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: .75rem;
}

.post-form input, .post-form textarea{
  background-color: #ededed;
  width: 100%;
  border: 1px solid #c7cace;
  transition: all ease-in .15s;
}

.post-form input:not(:read-only):focus, .post-form textarea:not(:read-only):focus{
  background-color: #fff;
  box-shadow: 0 0 0 3px #d8e6fc;
}

.post-form input, .post-form select{
  height: 45px;
}

.post-form input, .post-form textarea{
  padding: .5rem;
  border-radius: .25rem;
}

.post-form select{
  width: 100%;
  border: none;
}

.file-input-btn{
  display: inline-flex;
  align-items: center;
  background-color: #075583;
  color: #fff;
  height: 40px;
  padding: 0 .75rem;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

.file-input-btn:hover{
  background-color: #054a72;
}

.image-input {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #d1d1d1;
  font-family: "Font Awesome 6 Free";
  font-size: 1.5rem;
  height: 60px;
  width: 60px;
  border: 1px solid #d1d1d1;
  border-radius: .25rem;
  cursor: pointer;
  overflow: hidden;
}

.image-input.filled::before {
  content: "" !important;
}

.image-input::before {
  content: "\f03e"
}