#loader-backdrop{
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  height: 100vh;
  width: calc(100vw - 1rem);
  top: 0;
  left: 0;
  z-index: 1061;
}

.loader-track{
  background-color: transparent;
  height: 60px;
  width: 60px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-left: none;
  border-radius: 50%;
  animation: spinning infinite 1s;
}

@keyframes spinning{
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}