
.notifications{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1061;
}

.notification{
  width: 450px;
  padding: .5rem;
  box-shadow: 0 .25rem .25rem rgb(0, 0, 0, .1);
  opacity: 0;
  transition: opacity ease-in-out 1s;
}

.notification.notification--active{
  opacity: 1;
}

.notification.notification--danger{
  background-color: rgb(var(--bs-danger-rgb));
}
