@import url('./fonts.css');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
}
html, body{
  min-height: 100%;
}

body{
  display: flex;
  background-color: #fff;
}

main{
  flex: 1 0 0;
}

input:focus, textarea:focus, button:active, select:focus, div[contenteditable] {
  outline: 0;
}

div[contenteditable]{
  cursor: text;
}

img {
  user-select: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: Rubik;
}

button:disabled {
  opacity: .75;
  cursor:auto;
}