.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #094c73;
  height: 60px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 .25rem .25rem rgb(0, 0, 0, .2);
}

#sidebar{
  background: #054468;
  position: sticky;
  top: 0;
  left: 0;
  width: 225px;
  height: 100vh;
  padding: 2rem 0;
  transition: all 0.5s ease;
  z-index: 1000;
}

#user-area{
  height: 260px;
}

#avatar{
  background-color: white;
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

.nav__menu{
  list-style: none;
  padding: 0;
}

.nav__menu .nav__link{
  background-color: #054468;
  height: 50px;
  border-bottom: 1px solid #094c73;
  cursor: pointer;
}

.nav__menu .nav__link:first-child{
  border-top: 1px solid #094c73;
  border-bottom: 1px solid #094c73;
}

.nav__menu .nav__link a{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-decoration: none;
  padding-left: 2rem;
  transition: background-color ease-out .15s;
}

.nav__menu .nav__link a:hover{
  background-color: #094b70;
  color: #fff;
}

.nav__menu .nav__link a.active{
  background-color: #12567c;
  color: #fff;
}

@media screen and (max-width: 1366px){
  #sidebar{
    width: 200px;
  }

  #avatar{
    height: 150px;
    width: 150px;
  }
}